@import 'ember-paper';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "home.scss";
@import "settings.scss";
@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');


.navbar {
  background: #485563;
  background: -webkit-linear-gradient(to left, #29323c, #485563);
  background: linear-gradient(to left, #29323c, #485563);
  color: rgb(236, 239, 241);
  font-family: 'Mukta Mahee', sans-serif;
}
//CARD STYLING
.popup {
  font-family: 'Mukta Mahee', sans-serif;
  width: 500px;
  height: 250px;

}
.container-card {
  font-family: 'Mukta Mahee', sans-serif;

}
.card-color {
  background-color: #FFFFFF;
  height: 110px;
}


.card-todo {
  background-color: #32658b;
}
.card-progress {
  background-color: #e2e379;
}
.card-done {
  background-color: #3d6b58;
}
.layout-column {
  font-family: 'Mukta Mahee', sans-serif
}
.card-size-home {
  width: 300px;
  height: 350px;
}

.card-title {
  background: -webkit-linear-gradient(to left, #29323c, #485563);
  background: linear-gradient(to left, #29323c, #485563);
  border-radius: 10px 10px 0 0;
}

.title-color {
  color: white;
  text-align: center;
}
.scrollbar1 {
  overflow-y:scroll;
}

// BUTTON STYLING
.settings-button {
  background-color: gray;
  color: rgb(236, 239, 241);
}

.add-button {
  position: relative;
  background: white;
}
