@import 'ember-paper';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "home.scss";
@import "settings.scss";
@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');


.header{
  // padding-top: 50px;
}

.container-card {
  // flex: 1;
  font-family: 'Mukta Mahee', sans-serif;


.lg-4-line {
  background-color: #FFFFFF;
}

}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.settings-button {
  background-color: gray;
  color: rgb(236, 239, 241);
}

.add-button {
position: relative;
  background: white;
}



.card-placeholder-todo {
  // padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  // background-color: #32658b;


}
.card-placeholder-progress {
  // padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;

  // background-color: #e2e379;
}
.card-placeholder-done {
  // padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  // background-color: #3d6b58;

}

.card-size-home {
  width: 300px;
  height: 350px;
}

.scrollbar1 {
  overflow-y:scroll;

}

// .col-xs-3 {
//   width: 25% !important;
//   padding-left: 0%;
// }

.navbar {
  background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(236, 239, 241);
    font-family: 'Mukta Mahee', sans-serif;
}

// .sm-list-item-text {
//   height: 135px;
//
// }


.delete-todo {
  float: right;
}

// md-list-item, md-list-item .md-list-item-inner {
//   border-radius: 10px!important;
//   margin-bottom: 9%!important;
//   margin-left: 10%;
//   margin-right: 5%;
//
// }

.card-header {
  // background-color: rgb(84, 110, 122);
  // background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    // width: auto;
    // margin-top: 0;
    // margin-bottom: 10%;
    // width: 104%;
    // border-top-right-radius: 5px;
    // text-align: center;
    // padding-top: 5%;
    // padding-bottom: 5%;
    // color: rgb(236, 239, 241);
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;

}


// .container {
//     padding: 2px 0px;
// }
