@import 'ember-paper';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "home.scss";
@import "settings.scss";
@import "ember-bootstrap/bootstrap";



.header{
  padding-top: 50px;
}

.container-card {
  flex: 1;
  margin: 7%;
  margin-left: 7%;
  margin-right: 10%;



.lg-4-line {
  background-color: rgb(236, 239, 241);
}

}

.card-block {
  border-radius: 15px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.settings-button {
  background-color: #f44336;
  color: rgb(236, 239, 241);
}

.add-button {
  position: relative;
  background: white;
}



.card-placeholder {
  padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;

  background-color: rgb(176, 190, 197);
}

.scrollbar1 {
  overflow-y:scroll;
  height: 390px;
}

.col-xs-3 {
  width: 25% !important;
  padding-left: 0%;
}

.navbar {
    background-color: rgb(84, 110, 122);
    color: rgb(236, 239, 241);
}

.sm-list-item-text {
  height: 135px;

}

.card-block {
  width: 90%;

}

.delete-todo {
  float: right;
}

md-list-item, md-list-item .md-list-item-inner {
  border-radius: 10px!important;
  margin-bottom: 9%!important;
  margin-left: 10%;
  margin-right: 5%;

}

.card-header {
  background-color: rgb(84, 110, 122);
    width: auto;
    margin-top: 0;
    margin-bottom: 10%;
    width: 104%;
    border-top-right-radius: 5px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(236, 239, 241);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.container {
    padding: 2px 0px;
}
