.navbar-header {
  padding: 0px;
  text-align: center;
}

.card-size-settings {
  height: 500px;
}



.item-background {
  background-color: #FFFFFF;
}




 .scrollbar2 {
   overflow-y:scroll;
   overflow-x: hidden;
   height: 360px;
 }


.card-header-settings {
  background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.card-content {
  height: 50px;
}

}

.card-placeholder-settings-users {

  font-family: 'Mukta Mahee', sans-serif;
  background-color: #32658b;
}
.card-placeholder-settings-tasktypes {
  font-family: 'Mukta Mahee', sans-serif;

  background-color: #3d6b58;
}
