.navbar-header {
  padding: 0px;
  text-align: center;
}
.container {
  border-style: solid;
}
.add-user-tasktype {
  padding-left: 18%;
}

.md-2-line {
  background-color: rgb(236, 239, 241);
}

.item-background {
  background-color: rgb(236, 239, 241);
}

.blocks {
  margin-left: 18%;
  margin-top: 5%;
}
 .name {

   height: 40px;
   background-color: rgb(236, 239, 241);
 }

 .scrollbar2 {
   overflow-y:scroll;
   overflow-x: hidden;
   height: 360px;
 }

.username {
  padding-top: 20px;
}
